In [1]:
#!pip install sqlalchemy
#!pip install psycopg2
#!pip install psycopg2-binary

Requirement already satisfied: sqlalchemy in c:\users\rhais\anaconda3\lib\site-packages (1.3.13)
Requirement already satisfied: psycopg2 in c:\users\rhais\anaconda3\lib\site-packages (2.8.5)
Requirement already satisfied: psycopg2-binary in c:\users\rhais\anaconda3\lib\site-packages (2.8.5)

In [31]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

How many movies are released for each rating?

In [6]:
sql = '''
SELECT
    rating,
    COUNT (DISTINCT(film_id))
FROM 
    film
GROUP BY 
    rating'''

film_per_rating = engine.execute(sql)
engine.dispose()

rows = film_per_rating.fetchall()

for row in rows:
    print(row)

('G', 178)
('PG', 194)
('PG-13', 223)
('R', 195)
('NC-17', 210)

What is the average rental duration for each rating?

In [35]:
sql = '''
SELECT rating, 
    ROUND(AVG(rental_duration), 2)
FROM 
    film
GROUP BY 
    rating'''

duration = engine.execute(sql)
engine.dispose()

rows = duration.fetchall()

rating = []
avg_duration = []
for row in rows:
    print(row[0], row[1])

pd.DataFrame(rows, columns = ['rating', 'avg_rental_duration'])

R 4.77
NC-17 5.14
PG 5.08
PG-13 5.05
G 4.84

  rating avg_rental_duration
0      R                4.77
1  NC-17                5.14
2     PG                5.08
3  PG-13                5.05
4      G                4.84

What is the mean movie length? Calculate this by defining a function.

In [37]:
sql = '''
SELECT 
    length
FROM
    film
'''

def calc_mean(numbers):
    return sum(numbers) / (len(numbers))
     #or
    #return np.mean(numbers) if using numpy
    

lengths = engine.execute(sql)
engine.dispose()

length_rows = lengths.fetchall()
lengths = [x['length'] for x in length_rows]

avg_length = calc_mean(lengths)
print(avg_length)

115.272

Or, a simpler way:

In [24]:
sql = '''
SELECT 
    ROUND(AVG(length), 3)
FROM
    film'''

length = engine.execute(sql)
engine.dispose()
avg_length = length.fetchall()

print(avg_length[0][0])

115.272

What is the median movie length? Calculate this by defining a function.

In [44]:
import math

def find_median(numbers):
    num_sort = sorted(numbers)
    mid = math.floor(len(numbers) / 2)
    if len(numbers) % 2 == 0:
        a = numbers[mid - 1]
        b = numbers[mid]
        answer = (a + b) / 2
    else:
        answer = numbers[mid]
    return answer

In [46]:
sql = '''
SELECT
    length
FROM
    film'''

lengths = engine.execute(sql)
engine.dispose()

length_rows = lengths.fetchall()
lengths = [x['length'] for x in length_rows]

avg_length = find_median(lengths)
print(avg_length)

152.0

Calculate the standard deviation of the movie lengths. Calculate this by defining a function.

In [57]:
import numpy as np

def stddev(numbers):
    return np.std(numbers, ddof = 1)

sql = '''
SELECT 
    length
FROM 
    film'''

sql_data = engine.execute(sql)
engine.dispose()

std = sql_data.fetchall()
stddev = round(stddev(std), 2)
print(stddev)

40.43

In [ ]:
Or:

In [48]:
sql = '''
SELECT 
    ROUND(STDDEV(length), 2)
FROM 
    film'''

sql_data = engine.execute(sql)
engine.dispose()

stddev = sql_data.fetchall()
stddev = stddev[0][0]
print(stddev)

40.43